<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/app.js"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>weatherApp</title>
     <script>
        window.OneSignal = window.OneSignal || [];
        OneSignal.push(function () {
            OneSignal.init({
                appId: "6fa5cd65-559b-4810-a65d-35ffd41e8b39",
            });
        });
    </script>
</head>
<body>
    {{>header}}
    <div class="main-content">
        <img class="mypic" src="img/mypic.jpeg" alt="auther">
    <p>This site was created by Jay k Patel. It uses data from <a href="https://mapbox.com">mapbox.com </a>  and  <a href="https://weatherstack.com">weatherstack.com</a></p>
    </div>
    
    {{>footer}}

</body>
</html>