<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="./css/style.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>weatherApp</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/3.0.1/mustache.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>

    <script src="https://cdn.onesignal.com/sdks/OneSignalSDK.js" async=""></script>
    <script>
        window.OneSignal = window.OneSignal || [];
        OneSignal.push(function () {    
            OneSignal.init({
                appId: "6fa5cd65-559b-4810-a65d-35ffd41e8b39",
            });
        });
    </script>
</head>

<body>
    {{>header}}
    <div class="main-content">
        <p>Use this site to get weather...</p>
        <form action="">
            <input type="text" placeholder="Enter Address Here..">
            <button>Submit</button>
        </form>
        <br>
        <div class="weather-content">
            <div class="headercity">
                <img class="icon">
                <p class="message-1"></p>
            </div>
            <p class="message-2"></p>
        </div>
        <div class="container">
            {{!-- <div class="extra-info">
                <font>Real feel</font><br>
                <b class="realfeel"></b>
            </div> --}}
        </div>
    </div>
    </div>
    {{>footer}}
    <script src="/js/app.js"></script>
</body>

</html>