body{
    margin: 0px;
}
h1{
    background-color: #222;
    color: #fff;
}
img{
    margin-top: 20px;
    box-shadow: 5px 5px 30px #ccc;
    border-radius: 50%;
}
footer{
    background-color: #111;
    padding: 20px 10px;
    color:#fff;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-weight: bold;
}
.navbar{
    background-color: black;
    padding: 10px 10px ;
}
.title,.main-content{
    margin-left: 20px;
}

.navbar a{
    padding: 10px 10px;
    color: #fff;
    text-decoration: none;
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 200;
}
    /* padding: 10px 30px 10px 0px; */
.navbar a:hover{
    background-color: rgb(255, 251, 0);
    color: #222;
}
h2{
    font-size: 48px;
    color: rgb(66, 66, 66);
}
li{
    text-decoration: none;
    margin: 10px;
    padding: 10px;
    list-style-type: none;
    width: 150px;
    border-radius: 20px;
    box-shadow: 5px 5px 10px #ccc;
}
button{
    border:none;
    background-color: #222;
    margin: 10px;
    padding: 10px;
    list-style-type: none;
    width: 150px;
    color:#fff;
    /* border-radius: 20px; */
    font-size: 20px;
    box-shadow: 5px 5px 10px #fff;
}
button:hover{
    background-color: #333;
    color: #fff;
}
input{
    height: 30px;
    width: 300px;
    padding: 5px;
    font-size: 20px;
    outline-style: none;
    margin-left: 60px;
    border: 1px solid #888888;
    background-color: #fff;
    /* box-shadow: 2px 2px 5px #ccc;  */
}

.message-1,.message-2,.icon,p{
    margin-left: 60px;
}
p{
    color: rgb(61, 61, 61);
}
.message-1{
    font-size: 28px;
    font-weight: bold;
}
*{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
}
.headercity{
    display: flex;
    align-items: center;
}
.icon{
    margin-left: 60px;
    margin-top: 0px;
}
.message-1{
    margin-left: 20px;
}
.mypic{
    width: 230px;
    height: 200px;
    margin-left: 0%;
}
.container{
    border-radius: 10px;
    box-shadow: 5px 5px 5px #ccc;
    width: fit-content;
    max-width: 80%;
    display: flex; 
    flex-wrap:wrap;
    margin-left: 50px;
    margin-bottom: 100px;
    /* justify-content: space-around; */
}
.container div{
    width:fit-content;
    padding: 20px;
    margin-left: 10px;
    margin-bottom: 10px;
}

.container font{
    font-size: 18px;
}
@media only screen and (max-width: 600px) {
    .container{
        border-radius: 10px;
        box-shadow: 5px 5px 5px #ccc;
        width: fit-content;
        display: flex;
        flex-wrap:wrap;
        margin-left: 10px;
        width: 90%;
        justify-content:space-between;
        margin-bottom: 20px;
    }
    .extra-info font{
        font-size: 15px;
    }
    .extra-info b{
        font-size: 18px;
    }
    input{
        width: 90%;
        margin-left: 10px;
    }
    button{
        width: 93%;
        margin-left: 10px;
    }
    p{
        margin-left: 10px;
    }
    .message-1{
        font-size: 17px;
    }
    .icon{
        margin-left: 20px;
        margin-right: 10px;
    }
    .message-2{
        font-size: 15px;
        margin-left: 20px;
        margin-right: 10px;
    }
    footer{
        padding: 10px 5px;
        font-weight: bold;
        font-size: 15px;
        margin-top: 200px;
    }
}